@using WeChip.Domain.Entities
@model OfertaViewModel

<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Cadastrar Oferta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form asp-action="Form" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="ClienteId">Cliente</label>
                            <select asp-for="ClienteId" asp-items="@ViewBag.ListCliente"></select>
                            <span asp-validation-for="ClienteId"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var produto in (ViewBag.Produtos as List<Produto>).Select((value, index) => new {value, index}))
                    {
                    <div class="col-1">
                        <input type="hidden" name="Produtos[@produto.index].Id" value="@produto.value.Id" />
                        <input type="checkbox" name="Produtos[@produto.index].Checked" value="true" />
                    </div>
                        <div class="col-5">@produto.value.CodigoProduto - @produto.value.Descricao</div>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </form>
    </div>
</div>